form
{
    background-color: #f2f2f2;
    text-align: center;

}

h1
{
    font-size: 50px;
    margin-bottom: 0;
    background-color: #008cff;
}

.header
{
    border-radius: 15px 15px 0 0;
}
.footer
{
    border-radius: 0 0 15px 15px;
}
.submitButton
{
    border: #000000 solid 2px;
    background: #008cff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width:60%; 
    font-family : font-body;
    margin:0 auto;
}

input
{
    border: #000000 solid 2px;
    border-radius: 5px;
    width: 75%;
}

